
html {
    overflow-y: auto;
}

#lightboxes {
    position: relative;
}

    #lightboxes .ie-bg {
        background: #000;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        filter: alpha(opacity=75);
    }

    #lightboxes li .box {
        z-index: 2;
    }